---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
---

<Layout title="CrawKatt - Minecraft Modder">
<nav>
    <ul>
        <li><Button dataSection="sobre-mi">Sobre Mí</Button></li>
        <li><Button dataSection="conocimientos">Conocimientos</Button></li>
        <li><Button dataSection="proyectos-minecraft">Minecraft Mods</Button></li>
        <li><Button dataSection="proyectos-rust">Proyectos en Rust</Button></li>
        <li><Button dataSection="logros">Logros</Button></li>
        <li><Button dataSection="contact">Contacto</Button></li>
        <li><Button dataSection="all">Mostrar Todos</Button></li>
    </ul>
</nav>
    <Header/>
        <main class="container">
            <section id="sobre-mi" class="section">
                <h2>Sobre Mí</h2>
                <p>
                    ¡Hola! Soy un desarrollador apasionado con experiencia en la
                    creación de mods para Minecraft y programación en Rust.
                    Desde que era niño siempre me entusiasmé por la computación
                    y la tecnología, crecí estudiando por mi cuenta siguiendo
                    guías, foros y tutoriales en YouTube. Cursé múltiples cursos
                    de Udemy sobre programación y Modding para Minecraft. Me
                    dedico principalmente al Modding para Minecraft, BackEnd y
                    Administración de Sistemas. Soy un apasionado usuario de
                    Arch Linux y me encanta aprender y desarrollar proyectos
                    únicos para los usuarios.
                </p>
            </section>
            <section id="conocimientos" class="section">
                <h2>Conocimientos y Habilidades</h2>
                <p>
                    Tengo amplia experiencia en administración de sistemas
                    Linux, gestión de servidores VPS y configuración de
                    servidores de Minecraft. Mi pasión por la optimización y la
                    seguridad me ha llevado a desarrollar soluciones eficientes
                    y fiables para diferentes proyectos.
                </p>
                <ul class="skills-list">
                    <li>Administración de sistemas Linux (Ubuntu, Arch Linux,Fedora)</li>
                    <li>Configuración y gestión de servidores VPS con Contabo</li>
                    <li>Implementación y mantenimiento de servidores de Minecraft</li>
                    <li>Seguridad y optimización de servidores</li>
                    <li>Desarrollo de proyectos en Rust desde hace 2 años</li>
                    <li>Desarrollo de mods para Minecraft 1.20.1 con Forge desde hace 3 meses</li>
                </ul>
            </section>
            <section id="logros" class="section">
                <h2>Logros y Contribuciones</h2>
                <div class="achievements-grid">
                    <div class="achievement" data-aos="fade-up">
                        <h3>Contribución al repositorio Teloxide</h3>
                        <p>
                            El 10 de enero de 2024, realicé un commit al
                            repositorio de Teloxide donde aporté un ejemplo de
                            uso de una de sus funciones, ayudando a mejorar la
                            documentación y facilitar el uso de la biblioteca.
                        </p>
                        <div class="project-links">
                            <a
                                href="https://github.com/teloxide/teloxide/pull/915"
                                target="_blank"
                                aria-label="Ver Commit en GitHub"
                            >
                                <img
                                    src="img/github.svg"
                                    alt="GitHub"
                                    class="platform-icon"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="achievement" data-aos="fade-up">
                        <h3>
                            Administración del servidor de Minecraft de Meica05
                        </h3>
                        <p>
                            El 18 de Septiembre de 2024, administré junto a un
                            equipo el servidor de Minecraft de Meica05. Fuí
                            encargado de administrar la VPS del servidor,
                            configurando los plugins y configurando todo el
                            entorno en Linux Ubuntu 22 desde una conexión SSH.
                        </p>
                    </div>
                    <div class="achievement" data-aos="fade-up">
                        <h3>Libro de RustLang traducido al Español</h3>
                        <p>
                            Durante inicios de Junio de 2023 comencé la
                            traducción del libro oficial de Rust al Español
                            junto a la comunidad RustLangEs. actualmente se
                            encuentra completo y disponible para su lectura en
                            la web de la comunidad RustLangEs.
                        </p>
                        <div class="project-links">
                            <a
                                href="https://github.com/RustLangES/rust-book-es#gh-dark-mode-only"
                                target="_blank"
                                aria-label="Ver Repositorio en GitHub"
                            >
                                <img
                                    src="img/github.svg"
                                    alt="GitHub"
                                    class="platform-icon"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="proyectos-minecraft" class="section">
                <h2>Minecraft Mods</h2>
                <div class="projects-grid">
                    <div class="project" data-aos="flip-left">
                        <div class="project-content">
                            <img
                                src="img/meica_mod.png"
                                alt="Meica Mod"
                                class="project-image"
                            />
                            <h3>Meica Mod</h3>
                            <p>
                                El Meica Mod, un Mod inspirado en la Vtuber
                                Meica añade nuevas mecánicas al juego, nuevo
                                bioma, nueva dimensión, nuevos Mobs y mucho más,
                                mejorando la experiencia de supervivencia y
                                aventura en Minecraft.
                            </p>
                            <div class="project-links">
                                <a
                                    href="https://modrinth.com/mod/meica-mod"
                                    target="_blank"
                                    aria-label="Ver Meica Mod en Modrinth"
                                >
                                    <img
                                        src="img/modrinth.svg"
                                        alt="Modrinth"
                                        class="platform-icon"
                                    />
                                </a>
                                <a
                                    href="https://github.com/CrawKatt/meica_mod"
                                    target="_blank"
                                    aria-label="Ver Meica Mod en GitHub"
                                >
                                    <img
                                        src="img/github.svg"
                                        alt="GitHub"
                                        class="platform-icon"
                                    />
                                </a>
                                <a
                                    href="https://www.curseforge.com/minecraft/mc-mods/meica-mod"
                                    target="_blank"
                                    aria-label="Ver Meica Mod en CurseForge"
                                >
                                    <img
                                        src="img/curseforge.svg"
                                        alt="CurseForge"
                                        class="platform-icon"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="proyectos-rust" class="section">
                <h2>Proyectos en Rust</h2>
                <div class="projects-grid">
                    <div class="project" data-aos="fade-up">
                        <div class="project-content">
                            <img
                                src="img/leafy.png"
                                alt="Leafy"
                                class="project-image"
                            />
                            <h3>Leafy</h3>
                            <p>
                                Leafy es un Bot de Discord multifuncional
                                escrito en Rust que contiene funciones de
                                moderación, entretenimiento, música y más.
                            </p>
                            <div class="project-links">
                                <a
                                    href="https://github.com/CrawKatt/leafy"
                                    target="_blank"
                                    aria-label="Ver Leafy en GitHub"
                                >
                                    <img
                                        src="img/github.svg"
                                        alt="GitHub"
                                        class="platform-icon"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact" class="section">
                <h2>Contacto</h2>
                <p>Si estás interesado en colaborar o tienes alguna pregunta, no dudes en contactarme:</p>
                <div class="social-icons">
                    <a
                        href="https://twitter.com/crawkatt"
                        target="_blank"
                        aria-label="Twitter"
                    >
                        <img src="img/x.svg" alt="X" class="platform-icon" />
                    </a>
                    <a
                        href="https://github.com/crawkatt"
                        target="_blank"
                        aria-label="GitHub"
                    >
                        <img
                            src="img/github.svg"
                            alt="GitHub"
                            class="platform-icon"
                        />
                    </a>
                    <a
                        href="https://www.discord.com/users/395631548629516298"
                        target="_blank"
                        aria-label="Discord"
                    >
                        <img
                            src="img/discord.svg"
                            alt="Discord"
                            class="platform-icon"
                        />
                    </a>
                </div>
            </section>
        </main>
</Layout>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
            integrity="sha384-XCblzicI6XgXh6s8PtixBiERXgdxP90MxXxVEfC9zC5Pqtncw1xJhUnA1jaGaSLQ"
            crossorigin="anonymous"
        ></script>
        <script>
            AOS.init({
                duration: 1000,
                once: true,
            });
        </script>
        <script>


        /*
          // TypeWriter

          // Animación del título
          const h1Text =
            "Modder de Minecraft, Programador en Rust y Administrador de Sistemas";

          const h1Element = document.getElementById("typing-h1");

          const typingSpeed = 100;
          const erasingSpeed = 50;
          const delayBetweenTexts = 2000;
          const delayBetweenLoops = 1000;

          function typeText(element, text, index, callback) {
            if (index < text.length) {
              element.textContent += text.charAt(index);
              setTimeout(() => {
                typeText(element, text, index + 1, callback);
              }, typingSpeed);
            } else {
              setTimeout(callback, delayBetweenTexts);
            }
          }

          function eraseText(element, callback) {
            const text = element.textContent;
            if (text.length > 0) {
              element.textContent = text.substring(0, text.length - 1);
              setTimeout(() => {
                eraseText(element, callback);
              }, erasingSpeed);
            } else {
              setTimeout(callback, delayBetweenLoops);
            }
          }

          function loopTyping() {
            typeText(h1Element, h1Text, 0, () => {
              eraseText(h1Element, () => {
                loopTyping();
              });
            });
          }

          // Iniciar la animación
          loopTyping();
        });
        */
        </script>
