<header>
    <div class="area_div">
        <img src="/img/page_title.png" />
    </div>
    <div class="area_div title_container">
        <h1 class="title_container">
            Modder de Minecraft, Programador en Rust y Administrador de
            Sistemas
        </h1>
    </div>
</header>
<style>
header {
    color: #fff;
    display: grid;
    overflow: hidden;
    grid-template-areas: "title";
    justify-content: center;
}

header img {
    width: 100%;
}

header h1 {
    text-align: center;
    text-wrap: pretty;
    font-size: 36px;
}
</style>
